<!DOCTYPE html>
<html lang="es-mx">
<head>
	<meta charset="UTF-8">
	<title>EasyLigth</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
</head>
<body id="containerBody" class="mainBody">
	<main class="mainContainer" style="background-color: #0dba66">	
	  {% block content %} {% endblock %}
	</main>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
		var Height = window.innerHeight;
		$('#containerBody').css({height: Height})
		$('.email-confirm').css({height: Height})
		$('.mainContainer').css({height: Height})
		$('.reset-password').css({height: Height})
		$('#id_email').addClass('input-group')
	})
</script>
</html>